.hintergrund {

  position: fixed;
  inset: 0px;
  width: fit-content;
  height: fit-content;
  margin: auto;
}  

.container {
  
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #96d1f7, #3c5261);
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    min-width: 70%;
  }

.row {

  box-sizing: border-box;
  border-radius: 10px;
}

.bild {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
