@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #F3F5F6;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse; /* Verhindert doppelte Grenzen */
}

th, td {
  padding: 10px; /* Gleicher Innenabstand für Zellen */
  border-bottom: 1px solid #ddd; /* Leichte Trennungslinie zwischen den Zeilen */
}

td img {
  margin: 0 auto; /* Bild horizontal zentrieren */
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
