@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #F3F5F6;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse; /* Verhindert doppelte Grenzen */
}

th, td {
  border-bottom: 1px solid #ddd; /* Einheitliche Trennungslinien */
  text-align: center; /* Zentriere den Text */
  vertical-align: middle; /* Inhalte vertikal zentrieren */
}

td img {
  display: block; /* Verwandelt das Bild in ein Blockelement */
  margin: 0 auto; /* Bild horizontal zentrieren */
}