@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #F3F5F6;
  margin: 0;
}

th, td {
  padding: 10px; /* Gleicher Innenabstand für Zellen */
  border-bottom: 1px solid #ddd; /* Gleiche Trennungslinie zwischen den Zeilen */
  text-align: center; /* Zentriert den Text in den Zellen */
}

table {
  width: 100%;
  border-collapse: collapse; /* Verhindert doppelte Grenzen */
}

td img {
  margin: 0 auto; /* Bild horizontal zentrieren */
}